.actions-button {
  padding: 3px;
  position: absolute;
  top: 5px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;

  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s background-color;
}

.actions-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.actions-menu {
  position: absolute;
  top: 35px;
  right: 5px;

  padding: 10px;

  display: flex;
  flex-direction: column;

  background-color: var(--site-background-color);
  border-radius: 10px;

  z-index: 2;
}

.actions-menu.hidden {
  display: none;
}

.actions-menu__action {
  padding: 5px;

  color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s background-color;

  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.actions-menu__icon {
  width: 25px;
  display: flex;
  align-items: center;
}

.actions-menu__label {
  font-size: 16px;
}

.actions-menu__action:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.actions-menu__action.hazard {
  background-color: rgba(209, 88, 88, 0);
}

.actions-menu__action.hazard:hover {
  background-color: rgba(209, 88, 88, 0.4);
}

.actions-menu__divider {
  width: 95%;
  height: 1px;
  background-color: var(--border-color);
}

.actions-menu__divider.hidden {
  display: none;
}

.achievement__actions-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}