.audio-player-container{
  flex-direction: row;
  display: flex;
  align-items: center;
}

.audio-player{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: #171717;
  stroke: #2F2F2F;
  border-radius: 12%;
}

.audio-player > * {
  margin: 0.5em;
}

.audio-icon{
  background-color: transparent;
  color: white;
  height: 2em;
  width: auto;
}

.audio-progress{
  width: 55em;
  height: 20px;
}