.audio-player-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  border-radius: 12%;

  background: #171717;
  stroke: #2F2F2F;
}

.audio-player > * {
  margin: 0.5em;
}

.audio-icon {
  width: auto;
  height: 2em;

  background-color: transparent;
  color: white;
}

.audio-progress {
  width: 55em;
  height: 20px;
}