.button {
  padding: 6px 12px 6px 12px;

  border-radius: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  
  font-size: larger;
}

.button:hover {
  cursor: pointer;
}

.button.unavailable {
  filter: brightness(50%);
  transition: linear 0.2s;
}

.button.unavailable:hover {
  cursor: not-allowed;
}
