.button {
  padding: 6px 12px 6px 12px;

  border-radius: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  font-size: larger;
  transition: all 0.3s;

  background-color: #ffffff;
  color: #000000;
}

.button:hover {
  cursor: pointer;

  background-color: #d0d0d0;
}

.button.unavailable {
  filter: brightness(50%);
  transition: linear 0.2s;
}

.button.unavailable:hover {
  cursor: not-allowed;
}
