:root {
  --background-color: #171717;
  --border-color: #2f2f2f;
  --site-background-color: #060606;
}

.popup,
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 50;
}

.overlay {
  background: rgba(35, 35, 35, 0.413);
  backdrop-filter: blur(6px);
}

body.active-popup {
  overflow-y: hidden;
}

.popup-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  border-radius: 15px;
  width: 400px;
  padding: 14px;
  border: 2px solid var(--border-color);
  transition: border 0.3s;
}

.popup-content:hover {
  border: 2px solid #4a4a4a;
}

.popup-heading {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-x-container {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: background-color 0.15s;
}

.popup-x-container:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.289);
}

.popup-x {
  width: 14px;
  height: 14px;
}
