.popup,
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 50;
}

.overlay {
  background: rgba(35, 35, 35, 0.413);
  backdrop-filter: blur(6px);
}

body.active-popup {
  overflow-y: hidden;
}

.popup-content {
  width: calc(100% - 48px);
  max-width: 800px;
  padding: 14px;

  position: relative;
  transform-box: border-box;

  background: var(--background-color);

  border: 2px solid var(--border-color);
  border-radius: 15px;

  transition: border 0.3s;
}

.popup-content:hover {
  border: 2px solid #4a4a4a;
}

.popup-heading {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-x-container {
  width: 32px;
  height: 32px;

  position: absolute;
  top: 5px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;

  transition: background-color 0.15s;
}

.popup-x-container:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.289);
}

.popup-x {
  width: 14px;
  height: 14px;
}
