/* General */

.card:hover {
  border: 2px solid #4a4a4a;
}

.card--teams__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

.card--teams__label {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.card--teams__description {
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  color: #e1e1e1;
}

.card--teams__container {
  width: calc(100% - 24px);
  padding: 12px;

  background-color: var(--site-background-color);
  border-radius: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.card--teams__container.your-team {
  gap: 20px;
}

.card--teams__container.leaderboard {
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.card--teams__container__text {
  text-align: left;
}

.card--teams__container__text.center {
  text-align: center;
}

.card--teams__container__text.grow {
  flex-grow: 1;
}

.card--teams__container.buttons {
  justify-content: center;
  gap: 20px;

  background: none;
}

/* No Team */

.card--teams__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card--teams__row {
  padding: 10px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-rigid-btn {
  text-wrap: nowrap;
}

/* Create Team */

.card--teams__form {
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: auto;
}

.card--teams__form__item {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card--teams__form__item input {
  width: calc(100% - 24px);
  padding: 10px;
  height: 20px;
  background-color: var(--site-background-color);
  border: solid 2px var(--border-color);
  color: white;
}

.card--teams__form__item__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card--teams__form__bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* Join Team */

.card--teams__invites {
  width: calc(100% - 20px);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--site-background-color);
  border: solid 2px var(--border-color);
}

.card--teams__invites__item {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--teams__invites--outgoing {
  width: calc(100% - 20px);
  padding: 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--site-background-color);
  border: solid 2px var(--border-color);
}

.card--teams__invites__item--outgoing {
  width: 190px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  border: solid 1px var(--border-color);
}

.card--teams__invites__item__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* Score */

.card--teams__score-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card--teams__container.score {
  display: flex;
  flex-direction: column;
}

.card--teams__score-container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Player */

.card--teams__container.players {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card--teams__container--players__player-card {
  width: 290px;
  height: 50px;
  padding: 0 5px;

  border: solid 2px var(--border-color);
  border-radius: var(--border-rounding);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: border-color 0.3s ease;
}

.card--teams__container--players__player-card.selectable:hover {
  cursor: pointer;
}

.card--teams__container--players__player-card.selected {
  border: solid 2px white;
}

.card--teams__container--players__player-card__avatar {
  height: 35px;
  width: 35px;

  border-radius: 100%;
}

/* All teams */

.card--all-teams__container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

/* Placement */

.card--teams__container.placement {
  background-color: inherit;
  justify-content: space-between;
}

.card--teams__container--placement__column {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card--teams__container--placement__column__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__title.placement {
  width: fit-content;
  padding: 10px;
  margin: 0;

  border-radius: var(--border-rounding);

  background-color: var(--site-background-color);

  display: block;
}

/* Chat */

.team-chat {
  height: 160px;
  width: 100%;
  padding: 5px 0;

  overflow-y: auto;

  background-color: var(--site-background-color);
  border: solid 2px var(--border-color);
}

.team-chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.team-chat__messages p {
  width: 95%;
  margin: 2px 0;

  font-size: 16px;

  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

.team-chat__messages--time {
  font-size: 12px;
  color: #5f5f5f;
}

.team-chat__input {
  width: calc(100% - 20px);
  height: 20px;
  padding: 10px;

  background-color: var(--site-background-color);
  border: solid 2px var(--border-color);
  color: white;
}

/* Announcements */

.announcements-container {
  width: 100%;
  max-height: 800px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-x: hidden;
}

.announcement {
  width: calc(100% - 20px);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 1px solid var(--border-color);

  background-color: var(--site-background-color);
  text-align: left;
}

.announcement__time-ago {
  font-size: 1em;
  text-align: right;
}

hr.announcement-divider {
  width: 100%;

  background-color: var(--border-color);
}
