:root {
  --border-rounding: 15px;
  --border-rounding-less: 10px;
  --box-shadow: 3px 3px 6px 1px var(--background-color);
}

/* General */

.card-container.teams {
  gap: 20px;
}

.card-container.lb {
  max-width: 250px;
}

.info-container:hover {
  border: 2px solid #4a4a4a;
}

.info-title {
  font-size: 30px;
  font-weight: 700;
  margin: 5px 0;
}

.info-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

.info-text {
  margin: 5px 0;
}

.info-date {
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.info-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-inner-container {
  width: calc(100% - 24px);
  padding: 12px;

  background-color: var(--site-background-color);
  border-radius: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.info-inner-container.your-team {
  gap: 20px;
}

.info-inner-container.leaderboard {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-inner-text {
  text-align: left;
}

.info-inner-text.center {
  text-align: center;
}

.info-inner-text.grow {
  flex-grow: 1;
}

.info-inner-container.buttons {
  justify-content: center;
  gap: 20px;

  background: none;
}

/* Player */

.info-inner-container.players {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.player-card {
  width: 300px;
  height: 50px;
  padding: 0 5px;

  border: solid 2px var(--border-color);
  border-radius: var(--border-rounding);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.player-card-avatar {
  height: 35px;
  width: 35px;

  border-radius: 100%;
}

/* Placement */

.info-inner-container.placement {
  background-color: inherit;
  justify-content: space-between;
}

.placement-section {
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.placement-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-title.placement {
  width: fit-content;
  padding: 10px;
  margin: 0;

  border-radius: var(--border-rounding);

  background-color: var(--site-background-color);

  display: block;
}

/* Layout */

@media (max-width: 1100px) {
  .index-container {
    flex-direction: column;
    align-items: center;
  }

  .card-divider {
    display: none;
  }
}

@media (max-width: 500px) {
  .info-buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}