/* Info page stuff */

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.card-container {
  width: 100%;
  max-width: 700px;
}

.info-container {
  width: calc(100% - 30px);
  padding: 15px;
  margin: 0;

  border-radius: 20px;
  text-align: center;

  background-color: #ffffff;
}

.info-title {
  font-size: 30px;
  font-weight: 700;
  margin: 5px 0;
}

.info-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

.info-text {
  margin: 5px 0;
}

.info-date {
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.specific-container {
  width: 280px;

  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 20px;

  background-color: var(--bg-color4);
}

.name-label {
  font-weight: 500;
}

.info-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-your-team-container {
  width: calc(100% - 24px);
  padding: 12px;

  background-color: #f0f0f0;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-teams-container {
  width: calc(100% - 24px);
  padding: 12px;

  background-color: #f0f0f0;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-buttons-divider {
  padding: 3px;
  margin: 4px;
  background-color: #dbdbdb;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .index-container {
    flex-direction: column;
    align-items: center;
  }

  .card-container.info {
    order: 1;
  }

  .card-container.teams {
    order: 2;
  }
}

@media (max-width: 500px) {
  .info-buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}

/* broad use classes */

.user-container {
  width: 100%;
  gap: 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50px;
}
