:root {
  --generic-button-color: #003362;
  --generic-button-hover-color: #00417e;
  --caution-button-color: #d15858;
  --caution-button-hover-color: #ef7777;
}

.button {
  padding: 6px 12px 6px 12px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: larger;
  transition: all 0.3s;

  background-color: var(--generic-button-color);
  color: #ffffff;
}

.button.caution {
  background-color: var(--caution-button-color);
}

.button:hover {
  cursor: pointer;

  background-color: var(--generic-button-hover-color);
}

.button.caution:hover {
  background-color: var(--caution-button-hover-color);
}

.button.unavailable {
  filter: brightness(50%);
  transition: linear 0.2s;
}

.button.unavailable:hover {
  cursor: not-allowed;
}

.button-circle {
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;

  position: absolute;

  border-radius: 50%;
  border: solid white 1px;

  background-image: conic-gradient(#fff 50%, var(--generic-button-color) 50%, var(--generic-button-color) 100%);
}

.button-circle.caution {
  background-image: conic-gradient(#fff 50%, var(--caution-button-color) 50%, var(--caution-button-color) 100%);
}
