:root {
  --generic-button-color: #003362;
  --generic-button-hover-color: #00417e;
}

.button {
  padding: 6px 12px 6px 12px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: larger;
  transition: all 0.3s;

  background-color: var(--generic-button-color);
  color: #ffffff;
}

.button:hover {
  cursor: pointer;

  background-color: var(--generic-button-hover-color);
}

.button.unavailable {
  filter: brightness(50%);
  transition: linear 0.2s;
}

.button.unavailable:hover {
  cursor: not-allowed;
}
